.catagory_title {
  font-weight: bold;
  font-size: 18px;
}

.topic_title_td {
  width: 100%;
}

.topic_title {
  font-weight: bold;
  font-size: 16px;
}

.topic_description {
  font-size: 12px;
  color: gray;
  margin-left: 10px;
}

.topic_info_td {
  width: 100px;
  height: 50px;
  font-size: 12px;
  color: gray;
  border-left: 1px solid #ddd;

}

.post_count {
  text-align: center;
  position: relative;
  line-height: 50px;
}

.post_update {
  text-align: center;
  position: relative;
  top: 20%;
}
