.catagory_title {
  font-weight: bold;
  font-size: 18px;
}

.topic_td {
  width: 100%;
}

.topic_title {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.topic_last_update {
    font-size: 12px;
    color: gray;
}
