.forum_title {
  font-weight: bold;
  font-size: 18px;
}

.catagory_title_td {
  width: 100%;
}

.catagory_title {
  font-weight: bold;
  font-size: 16px;
}

.catagory_description {
  font-size: 12px;
  color: gray;
}

.catagory_info_td {
  width: 100px;
  height: 50px;
  font-size: 12px;
  color: gray;
  border-left: 1px solid black;

}

.catagory_info {
  text-align: center;
  position: relative;
  line-height: 50px;
}
