<div ng-repeat= "forum in Ctrl.forums">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="forum_title">{{forum.forum_name}}</span>
    </div>
    <div class="panel-body list-group">
      <div class="list-group-item" ng-repeat="catagory in forum.catagories">
        <table>
          <tr>
            <td class="catagory_td">
              <div class="list-group-heading">
              <a class="catagory_title" href="#!/catagory/{{catagory.catagory_id}}">{{catagory.catagory_name}}</a>
              </div>
              <p ng-show="{{catagory.topic_last_update}}" class="list-group-item-text catagory_last_update">Last post on {{catagory.topic_last_update | date}} by </p></td>
            <td>
              <span class="badge">Topics: {{catagory.topic_count}}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
